@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 3rem;
    background: #303030;
    padding: 20px;
}
#img{
    margin-top: -2rem;
    height: 4rem;
}
p{
    color: #FFFFFF;
    margin-top: -8rem;
    margin-left: 9rem;
}
#sideA{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;

}
h1{
    font-family: 'Verdana';
        font-style: normal;
        font-weight: 400;
        color: #265E70;
        font-size: 1.5rem;
}

#h2{
    text-align: center;
    color: #265E70;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
#sideB{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


#input{
    background: #4DBCE9;
    height: 3rem;
    width: 80%;
}
button{
    border-radius: 1rem;
    background-color: transparent;
    margin-top: 1rem;
    margin:1% auto;
    font-size: 1.5rem;
    font-weight: 700;
    border: 0;
}
#strong{
    color: #4DBCE9;
}

#titulo{
    color: #ececec;
}
#image1{
    font-size: 1rem;
    height: 13rem;
    
}
#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.right-side{
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
}
.right-side button {
    background-color: transparent;
    cursor: pointer;
    
    

}
.imga{
    align-items: center;
    width: 17rem;
}
.img{
    width: 15rem;
}
.right-side{
    align-items: center;
}
.E, .D{
    display: none;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.carousel-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#image{
    display: none;
}

#butao{
    background: #4DBCE9;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 1.3rem;
    color: #FFFFFF;
    width: 10rem;
    height: 3rem;
    border: 0;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}
#setaE{
    height: 2rem;
    margin-top: 1rem;
    margin-bottom: -1rem;
}
#setaD{
    height: 2rem;
    margin-top: 1rem;
    margin-bottom: -1rem;
}
@media only screen and (max-width: 1366px) and (min-width: 768px){
    header{
        height: 5rem;
    }
        #img{
            margin-top: -1rem;
            height: 6rem;
            color: white;
        }
    header p{
        font-size: 0.5rem;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        
    }
    .E, .D{
        display: block;
        width: 1rem;
    }
    #sideA{
        display: flex;
        flex-direction: column;
        float: left;
        padding: 3rem;
        margin-top: -0.5rem;
    }
    #sideB{
        display: flex;
        flex-direction: column;
        float: left;
        text-align: center;
        padding: 3rem;
        margin-top: -2rem;
    }
        #geral{
        display: flex;
        
    }
    .esconder{
        display: none;
        align-items: center;
    }
        .right-side button {
            background-color: transparent;
            cursor: pointer;
            display: flex;
            align-items: center;
    
    
    
        }
.imga{
    width: 30rem;
}
.imgb {
    width: 30rem;
}
h1{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
h2{
    font-size: 2rem;
    margin-top: -2rem;
    margin-bottom: 1rem;
}

#mg{
    display: none;
    
    
}

#image {
    display: block;
}



}
@media only screen and (max-width: 1280px) and (min-width: 800px){
    header{
        height: 5rem;
    }

    #sideA{
        padding: 4rem;
       
    }
    #sideB{
        padding: 4rem;
    }
    .img{
        width: 20rem;
    }
    .img2{
        width: 20rem;
    }
    h1{
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width: 1440px) and (min-width: 900px){
    header{
        height: 7rem;
    }
        #img{
            margin-top: -1rem;
            height: 6rem;
            color: white;
        }
    header p{
        font-size: 2.5rem;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        margin-top: -5rem;
    }
    .E, .D{
        display: block;
    }
    #sideA{
        display: flex;
        flex-direction: column;
        float: left;
        padding: 4rem;
    }
    #sideB{
        display: flex;
        flex-direction: column;
        float: left;
        text-align: center;
        padding: 4rem;
    }
        #geral{
        display: flex;
        
    }
    .esconder{
        display: none;
        align-items: center;
    }
        .right-side button {
            background-color: transparent;
            cursor: pointer;
    
    
    
        }
.img{
    width: 22rem;
}
.img2 {
    width: 20rem;
}
h1{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
h2{
    font-size: 2rem;
    margin-top: -2rem;
    margin-bottom: 1rem;
}

#mg{
    display: none;
}
}


@media only screen and (max-width: 2340px) and (min-width:1080px) {
    header {
        height: 6rem;
    }

    #sideA {
        padding: 20rem;
        margin-top: 1rem;

    }

    #sideB {
        padding: 25rem;
        margin-top: -1rem;
    }

    .imga {
        width: 25rem;
    }

    .imgb {
        width: 20rem;
    }

    h1 {
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width: 1180px) and (min-width: 820px) {
    header {
        height: 6rem;
       
        
    }

    #img {
        margin-top: -1rem;
        height: 6rem;
        color: white;
    }

    header p {
        font-size: 2rem;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        margin-top: -5rem;
    }

    .E,.D {
        display: block;
    }

    #sideA {
        display: flex;
        flex-direction: column;
        float: left;
        padding: 2rem;
        
    }

    #sideB {
        display: flex;
        flex-direction: column;
        float: left;
        text-align: center;
        padding: 2rem;

    }

    #geral {
        display: flex;
        width: 5rem;

    }

    .esconder {
        display: none;
        align-items: center;
    }

    .right-side button {
        background-color: transparent;
        cursor: pointer;



    }

    .img {
        width: 22rem;
    }

    .img2 {
        width: 20rem;
    }

    h1 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    h2 {
        font-size: 2rem;
        margin-top: -2rem;
        margin-bottom: 1rem;
    }

    #mg {
        display: none;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 760px) {
    header {
        height: 6rem;


    }

    #img {
        margin-top: -1rem;
        height: 6rem;
        color: white;
    }

    header p {
        font-size: 2rem;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        margin-top: -5rem;
    }

    .E,
    .D {
        display: block;
    }

    #sideA {
        display: flex;
        flex-direction: column;
        float: left;
        padding: 3rem;

    }

    #sideB {
        display: flex;
        flex-direction: column;
        float: left;
        text-align: center;
        padding: 3rem;

    }

    #geral {
        display: flex;
        width: 5rem;

    }

    .esconder {
        display: none;
        align-items: center;
    }

    .right-side button {
        background-color: transparent;
        cursor: pointer;



    }

    .imga {
        width: 19rem;
    }

    .imgb {
        width: 16rem;
    }

    h1 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    h2 {
        font-size: 2rem;
        margin-top: -2rem;
        margin-bottom: 1rem;
    }

    #mg {
        display: none;
    }
}




@media only screen and (max-width: 936px) and (min-width: 760px) {
    header {
        height: 6rem;


    }

    #img {
        margin-top: -1rem;
        height: 6rem;
        color: white;
    }

    header p {
        font-size: 2rem;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        margin-top: -5rem;
    }

    .E,
    .D {
        display: block;
    }

    #sideA {
        display: flex;
        flex-direction: column;
        float: left;
        padding: 3rem;

    }

    #sideB {
        display: flex;
        flex-direction: column;
        float: left;
        text-align: center;
        padding: 1rem;

    }

    #geral {
        display: flex;
        width: 5rem;

    }

    .esconder {
        display: none;
        align-items: center;
    }

    .right-side button {
        background-color: transparent;
        cursor: pointer;



    }

    .imga {
        width: 25rem;
    }

    .imgb {
        width: 22rem;
    }

    h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    #h2 {
        font-family: 'Verdana';
        font-style: normal;
        font-weight: 400;
        font-size: 1.9rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    #mg {
        display: none;
    }
}


@media only screen and (max-width: 1180px) and (min-width: 820px) {
    header {
        height: 6rem;


    }

    #img {
        margin-top: -1rem;
        height: 6rem;
        color: white;
    }

    header p {
        font-size: 2rem;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        margin-top: -5rem;
    }

    .E,
    .D {
        display: block;
    }

    #sideA {
        display: flex;
        flex-direction: column;
        float: left;
        padding: 3rem;

    }

    #sideB {
        display: flex;
        flex-direction: column;
        float: left;
        text-align: center;
        padding: 1rem;

    }

    #geral {
        display: flex;
        width: 5rem;

    }

    .esconder {
        display: none;
        align-items: center;
    }

    .right-side button {
        background-color: transparent;
        cursor: pointer;



    }

    .imga {
        width: 20rem;
    }

    .imgb {
        width: 18rem;
    }

    h1 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    #h2 {
        font-family: 'Verdana';
        font-style: normal;
        font-weight: 400;
        font-size: 1.5rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    #mg {
        display: none;
    }
}

@media only screen and (max-width: 936px) and (min-width: 760px) {
    header {
        height: 6rem;


    }

    #img {
        margin-top: -1rem;
        height: 6rem;
        color: white;
    }

    header p {
        font-size: 2rem;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        margin-top: -5rem;
    }

    .E,
    .D {
        display: block;
    }

    #sideA {
        display: flex;
        flex-direction: column;
        float: left;
        padding: 3rem;

    }

    #sideB {
        display: flex;
        flex-direction: column;
        float: left;
        text-align: center;
        padding: 1rem;

    }

    #geral {
        display: flex;
        width: 5rem;

    }

    .esconder {
        display: none;
        align-items: center;
    }

    .right-side button {
        background-color: transparent;
        cursor: pointer;



    }

    .imga {
        width: 25rem;
    }

    .imgb {
        width: 22rem;
    }

    h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    #h2 {
        font-family: 'Verdana';
        font-style: normal;
        font-weight: 400;
        font-size: 1.9rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    #mg {
        display: none;
    }
}


@media only screen and (max-width: 653px) and (min-width: 300px) {
    header {
        height: 6.5rem;


    }

    #img {
        margin-top: -1rem;
        height: 6rem;
        
    }

    header p {
        font-size: 1.8rem;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        margin-top: -5rem;
    }

    .E,
    .D {
        display: block;
    }

    #sideA {
        display: flex;
       
        
        
        

    }

    #sideB {
        display: flex;
       
        
        text-align: center;
        
        

    }

   

    .esconder {
        display: none;
        align-items: center;
    }

    .right-side button {
        background-color: transparent;
        cursor: pointer;



    }

    .imga {
        width: 25rem;
    }

    .imgb {
        width: 20rem;
    }

    h1 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    #h2 {
        font-family: 'Verdana';
        font-style: normal;
        font-weight: 400;
        font-size: 1.5rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    #mg {
        display: none;
    }
    #image{
        display: block;
    }
}


@media only screen and (max-width: 1440px) and (min-width: 900px) {
    header {
        height: 6.5rem;


    }

    #img {
        margin-top: -1rem;
        height: 6rem;
        color: white;
    }

    header p {
        font-size: 1.8rem;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        margin-top: -5rem;
    }

    .E,
    .D {
        display: block;
    }

    #sideA {
        display: flex;
        flex-direction: column;
        float: left;
        padding: 8rem;
        margin-top: -3rem;

    }

    #sideB {
        display: flex;
        flex-direction: column;
        float: left;
        text-align: center;
        padding: 1rem;
        margin-top: -4rem;

    }

    #geral {
        display: flex;
        width: 5rem;

    }

    .esconder {
        display: none;
        align-items: center;
    }

    .right-side button {
        background-color: transparent;
        cursor: pointer;



    }

    .imga {
        width: 25rem;
    }

    .imgb {
        width: 22rem;
    }

    h1 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    #h2 {
        font-family: 'Verdana';
        font-style: normal;
        font-weight: 400;
        font-size: 1.5rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    #mg {
        display: none;
    }

    #image {
        display: block;
    }
}