*{
    margin: 0;
    padding: 0;
}
header{
    height: 1.5rem;
    background: #303030;
    padding: 20px;
}
#img{
    margin-top: -2rem;
    height: 5rem;
}
p{
    color: #FFFFFF;
    margin-top: -8rem;
    margin-left: 9rem;
}
#sideA{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 1rem;

}
h1{
    font-family: 'Verdana';
        font-style: normal;
        font-weight: 400;
        color: #265E70;
}
#h2{
    color: #265E70;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
}
#sideB{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
}
#carrossel{
    height: 20rem;
    width: 15rem;
    background: rgba(77, 188, 233, 0.75);
    border-radius: 0.5em;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}
#seta{
    display: flex;
    flex-wrap: wrap;
}
#seta-esquerda {
    position: absolute;
    padding: 0.5rem;
    box-shadow: 3px 3px 0 2px;
    border: solid transparent;
    border-width: 0 0 2px 2px;
    color: #FFFFFF;
    transform: rotate(133deg);
   
    border-radius: 2px;
    margin-top: 10rem;
    margin-left: 1rem;
}

#seta-direita {
    position: absolute;
    padding: 0.5rem;
    box-shadow: 3px 3px 0 2px;
    border: solid transparent;
    border-width: 0 0 2px 2px;
    color: #FFFFFF;
    transform: rotate(-50deg);
    
    border-radius: 2px;
    margin-top: 10rem;
    margin-left: 12.8rem;
}
#input{
    background: #4DBCE9;
    height: 3rem;
    width: 80%;
}
button{
    border-radius: 1rem;
    color: #FFFFFF;
    margin-top: 1rem;
    margin:1% auto;
    font-size: 1.5rem;
    font-weight: 700;
}