@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap");
    @import url("https://fonts.cdnfonts.com/css/helvetica-2");
    .text-logo {
      font-family: "Helvetica";
      font-weight: 700;
      color: #2a3342;
    }
    .home {
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      color: #2a3342;
    }
    .sobre {
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      color: #2a3342;
    }
    .contato {
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      color: #2a3342;
    }
    .btn-corner {
      margin-left: 48rem;

    }

    
      
.card { 
  width: 350px; 
  height: 430px;
  position: relative;
  margin-bottom: 2rem;
}

.button{
  background-color: #3366CC ;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  width: 10rem;
  border: 0;
  bottom: 10px;
  left: 50%;
  transform:translateX(50%);
  margin-bottom: 1rem;
  height: 30px;
  border-radius: 5px;
}
.hidden{
  display:none;
}
.modal{
  width: 15rem;
  height: 15rem;
  display: none;
  
}
li{
    list-style-type: none;
}