body{
    margin: 0;
    padding: 0;
    
}    





.topo{
    background-color: #FFD900;
    height: 30px;
    padding: 35px;
    align-items: center;

}
.topo img{
    height: 50px;
    margin-top: -0.6rem;
    margin-left: 1rem;
}











.meio{
    display: grid;
    grid-auto-flow: column;
    
       
       
}
.meio h1{
    font-family: 'Verdana';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 85px;
        
    
        color: #F3C61F;
        margin-top: -50px;
}
.meio h2{
    font-family: 'Verdana';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 85px;
        
    
        color: #ffffff;
        margin-top: -3rem;
        margin-left: 50px;
        
}
.meio p{
    font-family: 'Verdana';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        
    
        color: #FFFFFF;
        margin-left: 20px;
        margin-top: 10px;
}
#esquerda{
    background-color: #514988;
    height: 500px;
    float: left;
    margin: 0;
    padding: 0;
    font-family: 'Verdana';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 35px;
        
    
        color: #FFFFFF;
        width: 600px;
       display: flex;
       flex-direction: column;
       justify-content: center;
       text-align: center;
        
}

.direita {
    display: grid;
    grid-auto-flow: row;
        
}

h3{
    font-family: 'Verdana';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 36px;
        
    
        color: #E33881;
        margin-top: -1.5rem;
        margin-left: 1rem;
        
        
        
}


.timer{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 12vw;
    margin: 0 auto;
    margin-left: 1rem;
}

.timer{
    font-family: 'Verdana';
        font-style: normal;
        font-weight: 700;
        font-size: 45px;
        line-height: 85px;
        
    
        color: #514988;
        margin-top: 10px;
}

#video{
    margin-top: -215px;
    height: 800px;
    margin-left: 1rem;
    z-index: -1;
}












.fundo {
    display: flex;
    flex-direction: row;
    margin-top: -180px;
}
button{
    background-color: #514988;
    height: 100px;
    width: 450px;
    border-radius: 12px;
    color: #ffffff;
    float: right;
    font-family: 'Verdana';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 51px;
        margin-top: 20px;
        margin-left: 200px;
        
}

button:hover{
    background: #514988;
    cursor:pointer;
    color: #F3C61F;
}




.ingresso h1{
    font-family: 'Verdana';
        font-style: normal;
        font-weight: 700;
        font-size: 23px;
        line-height: 33px;
        /* identical to box height */
    
        display: flex;
        align-items: center;
        text-align: center;
    
        color: #F3C61F;
        margin-top:-15px;
        margin-left: 22px;
}
.ingresso img{
    height: 150px;
    margin-bottom: 15px;
}

