body{
    margin: 0;
    padding: 0;
    
}    





.topo{
    background-color: #FFD900;
    height: 40px;
    padding: 35px;
    align-items: center;

}
.topo img{
    height: 50px;
}











.meio{
    display: grid;
    grid-auto-flow: column;
       
       
}
.meio h1{
    font-family: 'Verdana';
        font-style: normal;
        font-weight: 700;
        font-size: 45px;
        line-height: 85px;
        
    
        color: #F3C61F;
}
.meio h2{
    font-family: 'Verdana';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 85px;
        
    
        color: #ffffff;
        margin-top: -50px;
        margin-left: 50px;
        
}
.meio p{
    font-family: 'Verdana';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        
    
        color: #FFFFFF;
        margin-left: 20px;
}
#esquerda{
    background-color: #514988;
    height: 550px;
    float: left;
    margin: 0;
    padding: 0;
    font-family: 'Verdana';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 35px;
        
    
        color: #FFFFFF;
        width: 100%;
       display: flex;
       flex-direction: column;
       text-align: center;
        
}


.direita h3{
    font-family: 'Verdana';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 36px;
        
    
        color: #E33881;
        margin-top: 75px;
        margin-left: 15px;
        margin-bottom: -80px;
}



.direita h4{
    font-family: 'Verdana';
        font-style: normal;
        font-weight: 700;
        font-size: 70px;
        line-height: 85px;
        display: flex;
        align-items: center;
        text-align: center;
    
        color: #514988;
}


#timer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

#timer h3{
    font-family: 'Verdana';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 36px;
    
    
        color: #E33881;
        margin-top: 75px;
        margin-left: 15px;
        margin-bottom: -80px;
}



#timer{
    font-family: 'Verdana';
        font-style: normal;
        font-weight: 700;
        font-size: 70px;
        line-height: 85px;
        display: flex;
        align-items: center;
        text-align: center;
    
        color: #514988;
}
#video{
    
    margin-left: 60px;
    margin-top: 80px;
}












.fundo {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
button{
    background-color: #514988;
    height: 90px;
    width: 400px;
    border-radius: 12px;
    color: #ffffff;
    float: right;
    font-family: 'Verdana';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 51px;
        margin-top: 20px;
        margin-left: 200px;
        
}

button:hover{
    background: #514988;
    cursor: pointer;
    color: #F3C61F;
}




.ingresso h1{
    font-family: 'Verdana';
        font-style: normal;
        font-weight: 700;
        font-size: 23px;
        line-height: 33px;
        /* identical to box height */
    
        display: flex;
        align-items: center;
        text-align: center;
    
        color: #F3C61F;
        margin-top:-15px;
        margin-left: 22px;
}
.ingresso img{
    height: 150px;
    margin-bottom: 20px;
}

