body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}    





.topo{
    background-color: #FFD900;
    height: 30px;
    padding: 35px;
    align-items: center;

}
.topo img{
    height: 50px;
    margin-top: -0.6rem;
    margin-left: 1rem;
}











.meio{
    display: grid;
    grid-auto-flow: column;
    
       
       
}
.meio h1{
    font-family: 'Verdana';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 85px;
        
    
        color: #F3C61F;
        margin-top: -50px;
}
.meio h2{
    font-family: 'Verdana';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 85px;
        
    
        color: #ffffff;
        margin-top: -3rem;
        margin-left: 50px;
        
}
.meio p{
    font-family: 'Verdana';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        
    
        color: #FFFFFF;
        margin-left: 20px;
        margin-top: 10px;
}
#esquerda{
    background-color: #514988;
    height: 475px;
    float: left;
    margin: 0;
    padding: 0;
    font-family: 'Verdana';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 35px;
        
    
        color: #FFFFFF;
        width: 650px;
       display: flex;
       flex-direction: column;
       justify-content: center;
       text-align: center;
        
}

.direita {
    display: grid;
    grid-auto-flow: row;
        
}

.direita h3{
    font-family: 'Verdana';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 36px;
        
    
        color: #E33881;
        margin-top: -1.5rem;
        
        text-align: center;
        
        
        
}


.timer{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 12vw;
    align-items: center;
    margin-left: 1rem;
}

.direita .timer{
    font-family: 'Verdana';
        font-style: normal;
        font-weight: 700;
        font-size: 2rem;
        line-height: 85px;
        
    
        color: #514988;
        display: flex;
        justify-content: space-around;
}

#video{
    margin-top: -280px;
    height: 900px;
    width: 95%;
    margin-left: 2rem;
    z-index: -1;
    background-image: cover;
    
}


button {
    background-color: #514988;
    height: 40%;
    width: 350px;
    border-radius: 12px;
    color: #ffffff;
    float: right;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 51px;
    margin-top: 20px;
    margin-left: 200px;
    border: 0;
    border: 1px solid black;

}

button:hover {
    background: #514988;
    cursor: pointer;
    color: #F3C61F;
}









.fundo {
    display: flex;
    flex-direction: row;
    margin-top: -220px;
}



.ingresso h1{
    font-family: 'Verdana';
        font-style: normal;
        font-weight: 700;
        font-size: 23px;
        line-height: 33px;
        /* identical to box height */
    
        display: flex;
        align-items: center;
        text-align: center;
    
        color: #F3C61F;
        margin-top:-15px;
        margin-left: 22px;
}
.ingresso img{
    height: 150px;
    margin-bottom: 15px;
}

button:hover{
    box-shadow: 7px 7px 7px 7px gray;
}

.card-Selected{
    filter: drop-shadow(9px 9px 9px black);
}

#input{
    background: #F3C61F;
    height: 8rem auto;
    align-items: center;
    display: flex;
    

}

input{
    background: #514988;
    border-radius: 10px;
    color: #FFFFFF;
    border: 0pt;
    margin: 30px;
    width: 300px;
    height: 40px;
    font-size: 20px;
}
input::placeholder{
    color: #FFFFFF;
}
form input[type="submit"]{
    width: 200px;
    font-size: 25px;
}


/*--tela responsiva para iphone SE de 375x667--*/
@media only screen and (max-width: 660px) and (min-width: 300px) {
    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        display: block;
    }
   button{
        height: 10px;
        display: grid;
        grid-template-rows: 1fr;
    }
   .fundo{
    height: 1000px;
   }
   
    h1{
        display: grid;
        grid-template-rows: 1fr;
        text-align: center;
    }

    .ingresso #alinhamento{
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

}